.wrapper {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  margin-top: 5em;
  /* align-items: center; */
}
/* .wrapper h1.titleGlitch {
  font-size: 5em;
  padding-right: 0.25em;
}
h2.titleGlitch {
  font-size: 4em;
  padding: 1em;
  display: flex;
  justify-content: start;
} */
.wrapper h1.glitch {
  position: relative;
  font-size: 5em;
  padding: 10px;
}
.wrapper h1.glitch::before, .wrapper h1.glitch::after {
  padding: 10px;
  color: white;
  content: "Joa Palacios";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #181818;
  overflow: hidden;
  top: 0;
}
.wrapper h1.glitch::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}
.wrapper h1.glitch::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(1px, 700px, 46px, 10px);
  }
  5% {
    clip: rect(117px, 700px, 135px, 10px);
  }
  10% {
    clip: rect(28px, 700px, 18px, 10px);
  }
  15% {
    clip: rect(96px, 700px, 49px, 10px);
  }
  20% {
    clip: rect(114px, 700px, 45px, 10px);
  }
  25% {
    clip: rect(1px, 700px, 111px, 10px);
  }
  30% {
    clip: rect(86px, 700px, 146px, 10px);
  }
  35% {
    clip: rect(31px, 700px, 23px, 10px);
  }
  40% {
    clip: rect(7px, 700px, 52px, 10px);
  }
  45% {
    clip: rect(25px, 700px, 38px, 10px);
  }
  50% {
    clip: rect(115px, 700px, 43px, 10px);
  }
  55% {
    clip: rect(141px, 700px, 6px, 10px);
  }
  60% {
    clip: rect(10px, 700px, 8px, 10px);
  }
  65% {
    clip: rect(84px, 700px, 136px, 10px);
  }
  70% {
    clip: rect(113px, 700px, 47px, 10px);
  }
  75% {
    clip: rect(43px, 700px, 135px, 10px);
  }
  80% {
    clip: rect(138px, 700px, 23px, 10px);
  }
  85% {
    clip: rect(140px, 700px, 55px, 10px);
  }
  90% {
    clip: rect(28px, 700px, 50px, 10px);
  }
  95% {
    clip: rect(71px, 700px, 5px, 10px);
  }
  100% {
    clip: rect(74px, 700px, 96px, 10px);
  }
}
@keyframes glitch-animation-2 {
  0% {
    clip: rect(86px, 700px, 79px, 10px);
  }
  5% {
    clip: rect(84px, 700px, 98px, 10px);
  }
  10% {
    clip: rect(42px, 700px, 74px, 10px);
  }
  15% {
    clip: rect(137px, 700px, 130px, 10px);
  }
  20% {
    clip: rect(116px, 700px, 15px, 10px);
  }
  25% {
    clip: rect(47px, 700px, 47px, 10px);
  }
  30% {
    clip: rect(131px, 700px, 52px, 10px);
  }
  35% {
    clip: rect(149px, 700px, 144px, 10px);
  }
  40% {
    clip: rect(73px, 700px, 144px, 10px);
  }
  45% {
    clip: rect(49px, 700px, 96px, 10px);
  }
  50% {
    clip: rect(114px, 700px, 88px, 10px);
  }
  55% {
    clip: rect(108px, 700px, 61px, 10px);
  }
  60% {
    clip: rect(31px, 700px, 135px, 10px);
  }
  65% {
    clip: rect(56px, 700px, 101px, 10px);
  }
  70% {
    clip: rect(137px, 700px, 95px, 10px);
  }
  75% {
    clip: rect(32px, 700px, 95px, 10px);
  }
  80% {
    clip: rect(117px, 700px, 8px, 10px);
  }
  85% {
    clip: rect(106px, 700px, 93px, 10px);
  }
  90% {
    clip: rect(33px, 700px, 48px, 10px);
  }
  95% {
    clip: rect(114px, 700px, 71px, 10px);
  }
  100% {
    clip: rect(12px, 700px, 112px, 10px);
  }
}

.profileImg {
  border: 2px solid whitesmoke;
  border-radius: 5px;
  margin-top: 2em;
  padding: 5px;
  display: flex;
  justify-content: center;
}
.iconsHtml:hover {
  color: #E34C26;
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
}
.iconsCss:hover {
  color: #264de4;
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
}
.iconsBoots:hover {
  color: #563d7c;
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
}
.iconsMui:hover {
  color: #2196f3;
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
}
.iconsSass:hover {
  color: #cc6699;
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
}
.iconsJs:hover {
  color: #F0DB4F;
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
}
.iconsTs:hover {
  color: #007acc;
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
}
.iconsReact:hover {
  color: #61DBFB;
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
}
.iconsNext:hover {
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
}
.iconsWp:hover {
  color: #00749C;
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
}
.iconsFb:hover {
  color: #FFCB2B;
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
}
.iconsAdobe:hover {
  color: #ED2224;
  font-size: 1.5em;
  transition: 0.2s ease-in-out;
}